.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tb_css{
    font-weight: bold;
    text-align: center;
}

.bold{
    font-weight: bold;
}

.button{
    background-color:rgb(8, 155, 235);
    color:white;
    border-radius:10px;
    border-style:groove;
}

.button:hover{
    background-color:rgb(231, 246, 31);
    color:black;
}

body{
    background-image: url("./cover.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-weight: bold;
    
}
.bodyMask {
    background: rgba(255, 255, 255, 0.4);
    margin-bottom: 0px;
}