<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
        <link rel="icon" href="{{ url_for('static', path='/icon.ico') }}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <a class="navbar-brand" href="/">碳足跡系統</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" href="/insert/fertilizer">農藥資料鍵入</a>
                <a class="nav-link" href="/insert/sensor_data">感測器資料鍵入</a>
              </div>
            </div>
        </nav>
        <div class="row container-fluid">
          <div class="col-3"></div>
          <div class="col-6 bodyMask " style="height: 120vh;">
            <br>
            {% block main %}{% endblock %}
            <br>
          </div>
          <div class="col-3"></div>
        </div>
        <script src="https://unpkg.com/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>