<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carbon-footprint</title>
</head>
<body>
    <div class="container">
        <h1>輸入fertilizer資訊:</h1>
        <h3>fertilizer insert</h3>
        <div>
            <form action="/fertilizer_insert" method="post">
                <input type="text" name="information" placeholder="name: "><br>
                <input type="text" name="information" placeholder="unit: "><br>
                <input type="text" name="information" placeholder="N_kg: "><br>
                <input type="text" name="information" placeholder="P2O5_kg: "><br>
                <input type="text" name="information" placeholder="K2O_kg :"><br>
                <input type="submit" value="送出">
        </div>
    </div>
</body>
</html>