<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carbon-footprint</title>
</head>
<body>
    <div class="container">
        <h1>手動輸入感測器資訊:</h1>
        <h3>sensor_data insert</h3>
        <div>
            <form action="/fu_insert" method="post">
                <input type="text" name="information" placeholder="type: "><br>
                <input type="text" name="information" placeholder="dosage: "><br>
                <input type="submit" value="送出">
        </div>
    </div>
</body>
</html>