{% extends "base.html" %}

{% block title %}碳足跡系統{% endblock %}

{% block main %}
<h2 class='bold center'>選擇表格</h2>
<form action="/show_table" method="post">
      <div class="col-3 mb-3 center">
        <!-- <label for="table">選擇表格</label> -->
        <select class='form-control form-control-lg' name="table">
          <option>產品表格</option>
          <option>農藥表格</option>
          <option>感測器表格</option>
        </select>
        </br>
        <button class="btn btn-primary" type="submit">查詢表格</button>
      </div>
</form>
{% endblock %}