<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carbon-footprint</title>
</head>
<body>
    <table border="1" align="center">
        <tr>
          <td>栽種作物</td>
          <td>面積</td>
          <td>肥料/藥量</td>
          <td>CO2e結果</td>
          <td>二氧化碳</td>
          <td>甲烷</td>
          <td>對應之CO2e</td>
          <td>ppm</td>
          <td>總CO2e</td>
        </tr>
        <tr>
          <td>稻米</td>
          <td>None</td>
          <td>None</td>
          <td>None</td>
          <td></td>
          <td>None</td>
          <td>None</td>
          <td>None</td>
          <td>None</td>
        </tr>
      </table>
</body>
</html>