{% extends "base.html" %}

{% block title %}計算碳足跡{% endblock %}

{% block main %}
    <h1>紀錄農耕資訊</h1>
    <form class="row g-3 was-validated" action="/maindata-insert" method="post">
        <div class="col-12">
            <label for="grow_crops" class="form-label">栽種作物</label>
            <input type="text" name='information' class="form-control" id="grow_crops" value="" required>
            <div class="invalid-feedback">
                請填寫栽種作物
            </div>
        </div>
        <div class="col-6">
            <label for="origin_place" class="form-label">產地</label>
            <input type="text" name='information' class="form-control" id="origin_place" value="" required>
            <div class="invalid-feedback">
                請填寫產地
            </div>
        </div>
        <div class="col-6">
            <label for="area" class="form-label">種植面積(單位ha)</label>
            <input type="text" name='information' class="form-control" id="area" value="" required>
            <div class="invalid-feedback">
                請填寫種植面積
            </div>
        </div>
        <div class="row fertilizer_space">
            <div class="col-5 fertilizer_space_init">
                <label for="fertilizer" class="form-label">肥料</label>
                <select id="fertilizer" name='information_fertilizer' class="form-select is-invalid" required>
                    <option selected disabled value="">選擇肥料...</option>
                    <option value="urea">尿素</option>
                    <option value="superphosphate">過磷酸鈣</option>
                    <option value="potassium_chloride">氯化鉀</option>
                    <option value="calcium_ammonium_nitrate">硝酸銨鈣(肥料用)</option>
                </select>
            </div>
            <div class="col-5 fertilizer_space_init">
                <label for="dosage_fertilizer" class="form-label">肥料用量(單位kg)</label>
                <input type="text" name='information_dosage_fertilizer' class="form-control" id="dosage_fertilizer" value="" required>
                <div class="invalid-feedback">
                    請填寫肥料用量
                </div>
            </div>
            <div class="col-2 center fertilizer_space_init">
                <label class="form-label">increase/reduce</label>
                <button type="button" class="btn btn-primary" onclick="increase()">+</button>
                <button type="button" class="btn btn-primary" onclick="reduce()">-</button>
            </div>
        </div>
        <div class="col-6">
            <label for="pesticide" class="form-label">農藥</label>
            <select id="pesticide" name='information_pesticide' class="form-select is-invalid" required>
                <option selected disabled value="">選擇農藥...</option>
                <option value="none">無</option>
            </select>
        </div>
        <div class="col-6">
            <label for="dosage_pesticide" class="form-label">農藥劑量</label>
            <input type="text" name='information_dosage_pesticide' class="form-control" id="dosage_pesticide" value="" required>
            <div id="authorFeedback" class="invalid-feedback">
                請填寫農藥劑量
            </div>
        </div>
        <div class="col-12">
            <label for="creater" class="form-label">使用者</label>
            <input type="text" name='information' class="form-control" id="creater" value="" required>
            <div class="invalid-feedback">
                請填寫使用者
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">送出</button>
        </div>
    </form>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', path='/script.js') }}"></script>
{% endblock %}