{% extends "base.html" %}

{% block title %}碳足跡系統{% endblock %}

{% block main %}
    <div class="container center">
        <h2>輸入產品資訊:</h2>
        <div>
            <form action="/pi_insert" method="post">
                <input type="text" name="information" class="form-control" placeholder="grow_crops: "><br>
                <input type="text" name="information" class="form-control" placeholder="area: "><br>
                <input type="text" name="information" class="form-control" placeholder="Fertilizer: "><br>
                <input type="text" name="information" class="form-control" placeholder="dosage :"><br>
                <input type="text" name="information" class="form-control" placeholder="Fertilizer_co2e :"><br>
                <input type="text" name="information" class="form-control" placeholder="final_co2e: "><br>
                <button type="submit" class="btn button">送出</button>
        </div>
    </div>
    
{% endblock %}