{% extends "base.html" %}

{% block title %}碳足跡系統{% endblock %}

{% block main %}
    <div class="container">
        <h1>輸入產品資訊:</h1>
        <h3>product_information insert</h3>
        <div>
            <form action="/pi_insert" method="post">
                <input type="text" name="information" placeholder="grow_crops: "><br>
                <input type="text" name="information" placeholder="area: "><br>
                <input type="text" name="information" placeholder="Fertilizer: "><br>
                <input type="text" name="information" placeholder="dosage :"><br>
                <input type="text" name="information" placeholder="Fertilizer_co2e :"><br>
                <input type="text" name="information" placeholder="final_co2e: "><br>
                <input type="submit" value="送出">
        </div>
    </div>
    
{% endblock %}