<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carbon-footprint</title>
</head>
<body>
    <div class="container">
        <h1>輸入產品資訊:</h1>
        <h3>product_information insert</h3>
        <div>
            <form action="/pi_insert" method="post">
                <input type="text" name="information" placeholder="grow_crops: "><br>
                <input type="text" name="information" placeholder="area: "><br>
                <input type="text" name="information" placeholder="Fertilizer: "><br>
                <input type="text" name="information" placeholder="dosage :"><br>
                <input type="text" name="information" placeholder="Fertilizer_co2e :"><br>
                <input type="text" name="information" placeholder="co2_co2e: "><br>
                <input type="text" name="information" placeholder="Fmethane_co2e: "><br>
                <input type="text" name="information" placeholder="final_co2e: "><br>
                <input type="submit" value="送出">
        </div>
    </div>
</body>
</html>