{% extends "base.html" %}

{% block title %}查詢資料{% endblock %}

{% block main %}
    <h1>輸入使用者名稱</h1>
    <form id="search" class="row g-3 was-validated" method="post">
        <div class="col-12">
            <label for="user" class="form-label">輸入要查詢的使用者</label>
            <input type="text" id='username' name='user' class="form-control" id="user" value="" required>
            <div class="invalid-feedback">
                請填寫使用者
            </div>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary" onclick="submitForm()">查詢</button>
        </div>
    </form>
{% endblock %}

{% block script %}
<script>
    function submitForm() {
      const username = document.getElementById("username").value;
      const form = document.getElementById("search");
  
      form.action = `/product/${username}`;
      form.submit();
    }
</script>
{% endblock %}